@use "../../styles/index" as *;

.wrapper {
  position: relative;
  z-index: 9999;
  ::-webkit-scrollbar {
    display: none;
  }
  ul {
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 5px;
    @include flex(center, space-between);
    li {
      @include flex(center, space-between);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      gap: 9.2px;
      background-color: $light;
      border: $switch-btn-border;
      height: $switch-btn-height;
      border-radius: $border-radius;
      padding: 6px;
      &:hover {
        opacity: 0.8;
      }
      img {
        background-color: red;
        width: 25px;
        border-radius: 20%;
        @include flex(center, center);
      }
      span {
        font-family: "Helvetica";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        font-family: "Helvetica";
        font-weight: 400;
        color: $primary;
      }
    }
  }
}
