$body-bg: #ffffff;
$primary: #1d1e1c;
$secondary: #eceeef;

$light: #ffffff;
$dark: #000;

$box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);

$header-height: 5rem;
$header-height-details: 305px;
$switch-btn-height: 36px;
$navbar-height: 68px;

$switch-btn-border: 1.5px solid #eceeef;

$border-radius: 8px;
$border-radius-btn: 20px;
$border-radius-navbar: 20px 20px 0px 0px;

$btn-bg: #f40000;

$font-family: "Helvetica", sans-serif;
