body::-webkit-scrollbar {
  display: none;
}
body {
  min-height: 100vh;
}
html {
  scrollbar-width: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}
.container {
  margin: 0rem 1rem;
}
